
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488669881094'); /* IE9*/
  src: url('iconfont.eot?t=1488669881094#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488669881094') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488669881094') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488669881094#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorfill:before { content: "\e64b"; }

.icon-favor:before { content: "\e64c"; }

.icon-search:before { content: "\e65c"; }

.icon-settings:before { content: "\e68a"; }

.icon-home:before { content: "\e6b8"; }

.icon-homefill:before { content: "\e6bb"; }

.icon-share:before { content: "\e6f3"; }

.icon-service:before { content: "\e6ff"; }

.icon-peoplefill:before { content: "\e735"; }

.icon-people:before { content: "\e736"; }

.icon-circlefill:before { content: "\e7b0"; }

.icon-circle:before { content: "\e7b1"; }

